/* -------------------Seleccionadores Generales---------------------*/
*{
    scroll-behavior:smooth;
}

body{
    margin: 0px;
    padding:0px;
    background-color: rgb(163, 76, 76);

}

.text_cont, .text_cont2, b, p, .h2text, .text_title{
    color: rgb(0, 0, 0);
}

.carrousel_item1, .carrousel_item2, .carrousel_item3, .carrousel_item4, .carrousel_item5, .carrousel_item6{
    min-width: 400px;
    max-width: 399px;
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    overflow: hidden;
    border: 2px black solid;

}
/* -------------------Header y Contenedores---------------------*/
.img1{
    width: 60px;
    margin:10px;
}

h1{
    display:inline;
    margin: 20px;
}

.barra_cont{
    margin-right: 10px;
}

.title_cont{
    margin: 10px
    
}

.subtitle_cont{
    display: flex;
    justify-content: center;
}

.header__contenedor {
    background-color: rgb(94, 202, 166);
    height: 100px;

}

.header__contenedor--h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* -------------------items del carrousel---------------------*/
.carrousel_item{
    border: 2px black solid; 
}
.carrousel_item1 {
    background-image: url("https://images.pexels.com/photos/3046638/pexels-photo-3046638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:cover;
    margin: 10px;
    border: #000 solid 2px;
    min-width: 400px;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    margin-left: 50px;
}
.carrousel_item2{
    background-image: url("https://images.pexels.com/photos/6913673/pexels-photo-6913673.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size:cover;
    margin: 10px;
    display: block;
    border: #000 solid 2px;
    min-width: 400px;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    
}
.carrousel_item3{
    background-image: url("https://images.pexels.com/photos/4207904/pexels-photo-4207904.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size:cover;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    display: block;
    margin: 10px;
    padding-bottom: 20px;
    z-index: 500;
    margin-right: 50px;
}

.carrousel_item4{
    background-image: url("https://images.pexels.com/photos/15157864/pexels-photo-15157864/free-photo-of-paisaje-naturaleza-arena-desierto.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size:cover;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    width: 400px;
}
.carrousel_item5{
    background-image: url("https://media.istockphoto.com/id/964156012/es/foto/campo-agr%C3%ADcolo-y-ganader%C3%ADa-del-pa%C3%ADs.jpg?s=612x612&w=0&k=20&c=CiIvpKC7_k2SW_vR1bIvTLJjQ7x172l8i_BiDUuFMV4=");
    background-size:cover;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    width: 400px;
    }

.carrousel_item6{
    background-image: url("https://media.istockphoto.com/id/964156012/es/foto/campo-agr%C3%ADcolo-y-ganader%C3%ADa-del-pa%C3%ADs.jpg?s=612x612&w=0&k=20&c=CiIvpKC7_k2SW_vR1bIvTLJjQ7x172l8i_BiDUuFMV4=");
    background-size:cover;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    width: 400px;
    margin-right: 30px;
}

/* -------------------subcontenedores de los items---------------------*/
.h2text{
    margin: 0px;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
p b{
    font-size: 16px;
    
}

/* -------------------contenedorres del carrousel---------------------*/

.contenedor_corrousel{
   
padding: 20px, 0px;
}    
.Carrousel-items{
    display: flex;
    overflow-x: hidden;
}



/* -------------------en revisión---------------------*/














