.img1{
    width: 60px;
    margin:10px;
}
h1{
    display:inline;
    margin: 20px;
}
.header__contenedor {
    background-color: rgb(94, 202, 166);
    height: 100px;

}
body{
    margin: 0px;
    padding:0px;
    background-color: rgb(151, 221, 198);
}
.header__contenedor--h1 {
    display: inline-flex;
    justify-content: end center;
}

.text_cont{
    background-image: url("https://media.istockphoto.com/id/1391832007/es/foto/cielo-azul-de-verano-degradado-de-fondo-blanco-claro-belleza-clara-nublada-en-sol-calma.jpg?b=1&s=170667a&w=0&k=20&c=4PFL0wPNVatDheV4xFibcpJu0Acb5gB9dShFHkPr4Bo=");
    background-size:cover;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

.aside__contenedor {
    text-align: center;
    background-image: url("https://media.tenor.com/F4PiN6xdD9gAAAAM/rain-lights.gif");
    background-size: cover;
    width: 200px;
    padding: 10px;
    height: 425px;
    display: inline-block;
    margin: 10px;
    color: #fff;
    border-radius: 10px;
    
}
.contenedor__p--text1{
    display: inline;
}
main{
    display: flex;
    justify-content: center;
}

.contenedor__p--text2 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgrkNxcJhdCTi95Q9QNkLnmvvimrK4cGP5FA&usqp=CAU");
    background-size:cover;
    margin: 10px;
    display: inline-block;
    border: #000 solid 2px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}
.h2text{
    margin: 0px;
    text-decoration: underline;
}

.contendor__p--informacion {
    padding: 10px;
    width: 400px;
    height:300px;
    display: inline;
}



.barra--input {
    
    
}
